@font-face {
    font-family: myFFont;
    src: url("../fonts/FontsFree-Net-Art-nuvo.ttf");
}
@font-face {
    font-family: mySFont;
    src: url("../fonts/Carollo-Playscript-Medium.otf");
}
@font-face {
    font-family: myThFont;
    src: url("../fonts/BAHNSCHRIFT.TTF");
}
@font-face {
    font-family: myFrFont;
    src: url("../fonts/digital-7.ttf");
}

body{
    overflow:hidden;
    background-image: url(../Images/MVM-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.main-container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
}
.logo-container{
    display: flex;
}
.logo-area img{
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
}

.main-heading{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
    font-family: "myFFont";
    font-size: 45pt;
}


.choice{
    font-size: 30pt;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: "mySFont";
    margin-top: 9%;
}
.mvm-robot{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    display: flex;
}
.robot-head{
    height: 120px;
    width: 120px;
    border: 8px solid white;
    border-radius: 26px;
}
.robot-eye{
    position: absolute;
    left: 50%;
    top: 20%;
    display: flex;
    transform: translate(-50%);
    justify-content: space-between;
    width: 90px;
}
.custom-radio-btn {
  height: 25px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.custom-radio-btn input {
  display: none;
}
.custom-radio-btn .checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  border: 5px solid white;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: radial-gradient(
    circle at center, 
    gray
    9px, 
    rgba(255, 255, 255, 0) 0);

}
.custom-radio-btn input:checked ~ .checkmark {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle at center, 
    white
    9px, 
    rgba(255, 255, 255, 0) 0);
}
.robot-mouth{
    height: 11px;
    width: 80px;
    border: 4px solid white;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
}
.choice-btns{
    display: flex;
    position: absolute;
    top: 60%;
    left: 50.5%;
    transform: translate(-50%);
    
}
.team-mvm-btn{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    height: 50px;
    cursor: pointer;
}
.team-mvm-btn:hover{
    background: var(--clr);
    box-shadow: 0 0 5px var(--clr),
        0 0 5px var(--clr),
        0 0 5px var(--clr),
        0 0 5px var(--clr);
}
.team-mvm-btn::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 700%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: cal(0.33s * var(--i));
}
.team-mvm-btn:hover::before{
    width: 200%;
}


.team-mvm-btn::after{
    content: '';
    position: absolute;
    inset:4px;
    background: #0e1538;
    transition: 0.5s;
}
.team-mvm-btn:hover::after{
    background: var(--clr);
}
.team-mvm-btn span{
    position: relative;
    z-index: 1;
    color: white;
    font-family: "mySFont";
    font-size: 20pt;
}
#machine-btn{
    margin-left: 80px;
}


/*
General Instructions
*/

.instruction-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-43%);
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    height: 525px;
    width: 1100px;
}
.instruction-heading{
    font-family: "myFFont";
    font-size: 30pt;
    margin: 20px;
    margin-left: 30px;
}
.instructions-content{
    font-family: "myThFont";
    font-size: 20pt;
    margin-left: 20px;
    margin-right: 10px;
}
.instructions-content li{
    margin-bottom: 20px;
}
.btn-area{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
}
.instruction-btn{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    height: 25px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.instruction-btn:hover{
    background: #ea2a11;
    box-shadow: 0 0 5px #ea2a11,
        0 0 5px #ea2a11,
        0 0 5px #ea2a11,
        0 0 5px #ea2a11;
}
.instruction-btn::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 700%;
    background: #ea2a11;
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: cal(0.33s * var(--i));
}
.instruction-btn:hover::before{
    width: 200%;
}


.instruction-btn::after{
    content: '';
    position: absolute;
    inset:4px;
    background: #0e1538;
    transition: 0.5s;
    border-radius: 15px;
}
.instruction-btn:hover::after{
    background: #ea2a11;
}
.instruction-btn span{
    position: relative;
    z-index: 1;
    color: white;
    font-family: "mySFont";
    font-size: 20pt;
}

.dc-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    display: flex;
    flex-direction: column;
}
.dc-input{
    width: 10px;
}
#checkButton{
    height: 50px;
    width: 130px;
    font-family: "mySFont";
    font-size: 18pt;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    border: none;
    transition: .5s;
    cursor: pointer;
}
#checkButton:hover{
    background-color: #ea2a11;
}
.decipher-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.8);
    width: 65%;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cipher-text{
    font-family: "mySFont";
    font-size: 25pt;
    margin: 20px 50px 20px 50px;
}
#decipherText{
    resize: none;
    max-height: 120px;
    min-height: 120px;
    min-width: 90%;
    max-width: 90%;
    font-family: "mySFont";
    font-size: 20pt;
    padding: 10px;
}
#CheckBtn{
    height: 70px;
    width: 170px;
    margin-top: 30px;
    font-family: "mySFont";
    font-size: 17pt;
    border:5px solid white;
    background: none;
    color: white;
    border-radius: 10px;
}

#CheckBtn:hover{
    box-shadow: 0 0 10px white,
    0 0 10px white,
    0 0 10px white,
    0 0 10px white;
}
#list-section2{
    display: none;
}
#list-section1{
    display: block;
}
#image-time{
    display: none;
    font-family: "myFFont";
    font-size: 26pt;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
#imageCounter{
    font-family: "myFrFont";
    font-weight: 600;
    font-size: 27pt;
    margin-left: 5px;
}
.image-btn{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    height: 25px;
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
    
}
.image-btn:hover{
    background: #ea2a11;
    box-shadow: 0 0 5px #ea2a11,
        0 0 5px #ea2a11,
        0 0 5px #ea2a11,
        0 0 5px #ea2a11;
}
.image-btn::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 700%;
    background: #ea2a11;
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: cal(0.33s * var(--i));
}
.image-btn:hover::before{
    width: 200%;
}


.image-btn::after{
    content: '';
    position: absolute;
    inset:4px;
    background: #0e1538;
    transition: 0.5s;
    border-radius: 15px;
}
.image-btn:hover::after{
    background: #ea2a11;
}
.image-btn span{
    position: relative;
    z-index: 1;
    color: white;
    font-family: "mySFont";
    font-size: 20pt;
}
.day1-final{
    font-family: "myFFont";
    font-size: 30pt;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 50px;
    margin-right: 50px;
}
.day1-final div{
    margin-top: 20px;
    text-align: center;
}
.day1-final-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-43%);
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    height: 325px;
    width: 1100px;
}
.cs-container{
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 50%;
    border-radius: 50px;
}
#content {
    width: 200px;
    border: 1.6px dashed #dc0000;
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    user-select: none;
    font-family: "mySFont";
}
#clickarea {
    width: 500px;
    height : 300px;
    border: 2px solid #dc0000;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    margin-bottom: 40px;
}

#start {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 0;
    width: 100%;
    height: 100%;
    font-family: "myFFont";
    text-align: center;
    border-radius: 10px;
    background: #252839;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60pt;
}
#startText{
    color: transparent;
    -webkit-text-stroke:0.2vw #383d52;
    text-transform: uppercase;
    position: absolute;
}
#startText::before{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke:0vw #383d52;
    overflow: hidden;
    animation: ani 6s linear infinite;
}
#start:hover {
    font-size: 65pt;
}
#CH{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-family: "mySFont";
    color: rgba(98,102,117,.4);
    text-transform: uppercase;
    font-size: 60pt;
    user-select: none;
}
#endTextArea{
    font-family: "mySFont";
    font-size: 20pt;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    display: none;
}
#proceedbtn{
    height: 70px;
    width: 170px;
    margin-top: 30px;
    font-family: "mySFont";
    font-size: 17pt;
    border:5px solid black;
    background: none;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
    display: none;
}
#proceedbtn:hover{
    box-shadow: 0 0 10px black,
    0 0 10px black,
    0 0 10px black,
    0 0 10px black;
}
.sm-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: "mySFont";
    height: 50%;
    width: 50%;
}
#smContent{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
}
#smTimer{
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
}
#smCounter{
    font-size: 16pt;
    margin-left: 10px;
}
#smProblem{
    display: flex;
    background-color: rgba(0,0,0,1);
    width: 300px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    position: absolute;
    top: 13%;
}
#smP{
    font-size: 2opt;
    margin-left: 10px;
}
#smScore{
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    font-size: 14pt;
}
#smS{
    font-size: 16pt;
    margin-left: 10px;
}
.sm-indicator{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}
#smGreen{
    background-color: #148919;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#smRed{
    background-color: #b41717;
    height: 30px;
    width: 30px;
    border-radius: 50%; 
}
#smIns{
    position: absolute;
    top: 80%;
}
#smBtn{
    height: 100%;
    width: 100%;
    z-index: 1;
    background:none;
    color: white;
    font-size: 100pt;
    transition: 1s;
    border: none;
}
#smBtn span{
	color: #fff;
	position: absolute;
	transform: translate(-50%, -50%);
    font-family: "mySFont";
}
#smBtn:hover{
	font-size: 110pt;

}
#smBtn span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
#smBtn span:nth-child(2) {
	color: #03a9f4;
	animation: anim 4s ease-in-out infinite;
}
#startTimer{
    font-size: 50pt;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    display: none;
}
#startTimer span{
	color: #fff;
	position: absolute;
	transform: translate(-50%, -50%);
    font-family: "mySFont";
}
#startTimer span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
#startTimer span:nth-child(2) {
	color: #03a9f4;
	animation: anim 4s ease-in-out infinite;
}
#smFinal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#smResult{
    font-size: 35pt;
}
.tc-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 50%;
    background-color: rgba(255,255,255,0.7);
    font-family: "mySFont";
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tcContent{
    width: 100%;
    margin-left: 650px;
    margin-top: 40px;
}
#tcResult{
    color: red;
    margin-top: 30px;
    display: none;
}
#startButton{
    height: 70px;
    width: 170px;
    margin-top: 30px;
    font-family: "mySFont";
    font-size: 17pt;
    border:5px solid black;
    background: none;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
#startButton:hover{
    box-shadow: 0 0 10px black,
    0 0 10px black,
    0 0 10px black,
    0 0 10px black;
}
#wmGame{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#wmGameResult{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#wmBtn{
    height: 100%;
    width: 100%;
    z-index: 1;
    background:none;
    color: white;
    font-size: 100pt;
    transition: 1s;
    border: none;
}
#wmBtn span{
	color: #fff;
	position: absolute;
	transform: translate(-50%, -50%);
    font-family: "mySFont";
}
#wmBtn:hover{
	font-size: 110pt;

}
#wmBtn span:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}
#wmBtn span:nth-child(2) {
	color: #03a9f4;
	animation: anim 4s ease-in-out infinite;
}
#wmWord{
    margin-bottom: 10px;
}
#wmNew{
    height: 70px;
    width: 170px;
    margin-top: 30px;
    font-family: "mySFont";
    font-size: 17pt;
    border:5px solid black;
    background: none;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
#wmNew:hover{
    box-shadow: 0 0 10px black,
    0 0 10px black,
    0 0 10px black,
    0 0 10px black;
}
#wmSeen{
    height: 70px;
    width: 170px;
    margin-top: 30px;
    font-family: "mySFont";
    font-size: 17pt;
    border:5px solid black;
    background: none;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
#wmSeen:hover{
    box-shadow: 0 0 10px black,
    0 0 10px black,
    0 0 10px black,
    0 0 10px black;
}
#wmProceed{
    height: 70px;
    width: 170px;
    margin-top: 30px;
    font-family: "mySFont";
    font-size: 17pt;
    border:5px solid black;
    background: none;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
#wmProceed:hover{
    box-shadow: 0 0 10px black,
    0 0 10px black,
    0 0 10px black,
    0 0 10px black;
}
.wmresult{
    margin-bottom: 20px;
}
#nxtRound{
    display: none;
}
#input-field{
    position: relative;
    top: 10%;
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 3px solid black;
    font-family: "mySFont";
    font-size: 23px;
    padding-left: 8px;
    text-align: center;
}
#sequence-display{
    display: flex;
    flex-direction: column;
    font-size: 25pt;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nm-sd{
    text-align: center;
    font-size: 45pt;
}
#score{
    text-align: center;
}
#result-display{
    text-align: center;
    margin-bottom: -15px;
}
@keyframes anim {
	0%,100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
@keyframes ani{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
     100%{
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 1290px){
    body{
        background: black;
    }
    *{
        display: none;
    }
}